{% extends 'base.html' %}
{% load mytags %}

{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写基本信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <form id="groupForm" enctype="multipart/form-data" method="post" class="form-horizontal" action="">
                            {% csrf_token %}
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success text-center">{{ msg }}</div>
                            {% endif %}

                            <div class="form-group">
                                <label for="env" class="col-sm-2 control-label">环境类型</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="env" name="env">
                                        {% for l in env_list %}
                                            <option value="{{ l|list_0 }}">{{ l|list_1 }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="style" class="col-sm-2 control-label">APP类型</label>
                                <div class="col-sm-8">
                                    <select class="form-control " id="style" name="style" onchange="change_div()">
                                        {% for p in style_list %}
                                            <option value="{{ p|list_0 }}">{{ p|list_1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="platform" class="col-sm-2 control-label">平台</label>
                                <div class="col-sm-8">
                                    <select class="form-control " id="platform" name="platform" onchange="change_div()">
                                        {% for l in platform_list %}
                                            <option value="{{ l|list_0 }}">{{ l|list_1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="version" class="col-sm-2 control-label">版本</label>
                                <div class="col-sm-8">
                                     <input id="version" name="version" placeholder="" type="text"
                                           class="form-control" value="{{ version }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="owner" class="col-sm-2 control-label">项目负责人</label>
                                <div class="col-sm-8">
                                    <select class="form-control " id="owner" name="owner">
                                        {% for p in pm_list %}
                                            <option value="{{ p }}">{{ p }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="update_remark" class="col-sm-2 control-label">更新理由</label>
                                <div class="col-sm-8">
                                     <textarea id="update_remark" name="update_remark" placeholder="更新理由" type="text"
                                           class="form-control" >{{ update_remark }}</textarea>
                                </div>
                            </div>
                        <div id="id_client_android">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_apk_path" class="col-sm-2 control-label">APK</label>
                                <div class="col-sm-8">
                                    <input type="file" name="client_apk_path" id="client_apk_path" placeholder="" class="form-control" />
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_sys_Androidisforcedupdate" class="col-sm-2 control-label">isforcedupdate</label>
                                <div class="col-sm-8">
                                    <input id="client_sys_Androidisforcedupdate" name="client_sys_Androidisforcedupdate" placeholder="是否强制升级  1为强制升级 0为非强制升级" type="text" class="form-control" value="{{ client_sys_Androidisforcedupdate }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_sys_AndroidPublishVersion" class="col-sm-2 control-label">AndroidPublishVersion</label>
                                <div class="col-sm-8">
                                    <input id="client_sys_AndroidPublishVersion" name="client_sys_AndroidPublishVersion" placeholder="安卓请求的接口版本号" type="text" class="form-control" value="{{ client_sys_AndroidPublishVersion }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_config_androidversion" class="col-sm-2 control-label">androidversion</label>
                                <div class="col-sm-8">
                                    <input id="client_config_androidversion" name="client_config_androidversion" placeholder="安卓的升级版本号" type="text" class="form-control" value="{{ client_config_androidversion }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_config_androidsjversion" class="col-sm-2 control-label">androidsjversion</label>
                                <div class="col-sm-8">
                                    <input type="text" name="client_config_androidsjversion" id="client_config_androidsjversion" placeholder="控制是否升级的弹窗" class="form-control" value="{{ client_config_androidsjversion }}"/>
                                </div>
                            </div>

{#                            <div class="hr-line-dashed"></div>#}
{#                            <div class="form-group">#}
{#                                <label for="client_config_downloadandroidpath" class="col-sm-2 control-label">downloadandroidpath</label>#}
{#                                <div class="col-sm-8">#}
{#                                    <input type="text" name="client_config_downloadandroidpath" id="client_config_downloadandroidpath" placeholder="" class="form-control" value="{{ client_config_downloadandroidpath }}"/>#}
{#                                </div>#}
{#                            </div>#}

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_config_androidverremark" class="col-sm-2 control-label">androidverremark</label>
                                <div class="col-sm-8">
                                    <textarea id="client_config_androidverremark" name="client_config_androidverremark" class="form-control" rows="5" placeholder="安卓版本升级内容">{{ client_config_androidverremark }}</textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_config_androidsUpdateRemark" class="col-sm-2 control-label">androidsUpdateRemark</label>
                                <div class="col-sm-8">
                                    <textarea id="client_config_androidsUpdateRemark" name="client_config_androidsUpdateRemark" class="form-control" rows="5" placeholder="安卓版更新说明">{{ client_config_androidsUpdateRemark }}</textarea>
                                </div>
                            </div>

                        </div>

                        <div id="id_client_ios">


                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_sys_IOSPublishVersion" class="col-sm-2 control-label">IOSPublishVersion</label>
                                <div class="col-sm-8">
                                    <input id="client_sys_IOSPublishVersion" name="client_sys_IOSPublishVersion" placeholder="苹果请求的接口版本号" type="text" class="form-control" value="{{ client_sys_IOSPublishVersion }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_sys_IOSisforcedupdate" class="col-sm-2 control-label">isforcedupdate</label>
                                <div class="col-sm-8">
                                    <input id="client_sys_IOSisforcedupdate" name="client_sys_IOSisforcedupdate" placeholder="是否强制升级  1为强制升级 0为非强制升级" type="text" class="form-control" value="{{ client_sys_IOSisforcedupdate }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_config_iossjversion" class="col-sm-2 control-label">iossjversion</label>
                                <div class="col-sm-8">
                                    <input id="client_config_iossjversion" name="client_config_iossjversion" placeholder="苹果的升级版本号" type="text" class="form-control" value="{{ client_config_iossjversion }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_config_iosUpdateRemark" class="col-sm-2 control-label">iosUpdateRemark</label>
                                <div class="col-sm-8">
                                    <textarea id="client_config_iosUpdateRemark" name="client_config_iosUpdateRemark" class="form-control" rows="5" placeholder="ios版更新说明">{{ client_config_iosUpdateRemark }}</textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="client_config_iosverremark" class="col-sm-2 control-label">iosverremark</label>
                                <div class="col-sm-8">
                                    <textarea id="client_config_iosverremark" name="client_config_iosverremark" class="form-control" rows="5" placeholder="ios版本升级内容">{{ client_config_iosverremark }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div id="id_courier_android">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_apk_path" class="col-sm-2 control-label">APK</label>
                                <div class="col-sm-8">
                                    <input type="file" name="courier_apk_path" id="courier_apk_path" placeholder="" class="form-control" />
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_sys_AndroidPublishVersion" class="col-sm-2 control-label">AndroidPublishVersion</label>
                                <div class="col-sm-8">
                                    <input id="courier_sys_AndroidPublishVersion" name="courier_sys_AndroidPublishVersion" placeholder="安卓请求的接口版本号" type="text" class="form-control" value="{{ courier_sys_AndroidPublishVersion }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_sys_Androidisforcedupdate" class="col-sm-2 control-label">isforcedupdate</label>
                                <div class="col-sm-8">
                                    <input id="courier_sys_Androidisforcedupdate" name="courier_sys_Androidisforcedupdate" placeholder="是否强制升级  1为强制升级 0为非强制升级" type="text" class="form-control" value="{{ courier_sys_Androidisforcedupdate }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_config_androidversion" class="col-sm-2 control-label">androidversion</label>
                                <div class="col-sm-8">
                                    <input id="courier_config_androidversion" name="courier_config_androidversion" placeholder="安卓的升级版本号" type="text" class="form-control" value="{{ courier_config_androidversion }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_config_androidsjversion" class="col-sm-2 control-label">androidsjversion</label>
                                <div class="col-sm-8">
                                    <input type="text" name="courier_config_androidsjversion" id="courier_config_androidsjversion" placeholder="控制是否升级的弹窗" class="form-control" value="{{ courier_config_androidsjversion }}"/>
                                </div>
                            </div>
{##}
{#                            <div class="hr-line-dashed"></div>#}
{#                            <div class="form-group">#}
{#                                <label for="courier_config_downloadandroidpath" class="col-sm-2 control-label">downloadandroidpath</label>#}
{#                                <div class="col-sm-8">#}
{#                                    <input type="text" name="courier_config_downloadandroidpath" id="courier_config_downloadandroidpath" placeholder="" class="form-control" value="{{ courier_config_downloadandroidpath }}"/>#}
{#                                </div>#}
{#                            </div>#}

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_config_androidverremark" class="col-sm-2 control-label">androidverremark</label>
                                <div class="col-sm-8">
                                    <textarea id="courier_config_androidverremark" name="courier_config_androidverremark" class="form-control" rows="5" placeholder="安卓版本升级内容">{{ courier_config_androidverremark }}</textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_config_androidsUpdateRemark" class="col-sm-2 control-label">androidsUpdateRemark</label>
                                <div class="col-sm-8">
                                    <textarea id="courier_config_androidsUpdateRemark" name="courier_config_androidsUpdateRemark" class="form-control" rows="5" placeholder="安卓版更新说明">{{ courier_config_androidsUpdateRemark }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div id="id_courier_ios">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_sys_IOSPublishVersion" class="col-sm-2 control-label">IOSPublishVersion</label>
                                <div class="col-sm-8">
                                    <input id="courier_sys_IOSPublishVersion" name="courier_sys_IOSPublishVersion" placeholder="苹果请求的接口版本号" type="text" class="form-control" value="{{ courier_sys_IOSPublishVersion }}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_sys_IOSisforcedupdate" class="col-sm-2 control-label">isforcedupdate</label>
                                <div class="col-sm-8">
                                    <input id="courier_sys_IOSisforcedupdate" name="courier_sys_IOSisforcedupdate" placeholder="是否强制升级  1为强制升级 0为非强制升级" type="text" class="form-control" value="{{ courier_sys_IOSisforcedupdate }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_config_iossjversion" class="col-sm-2 control-label">iossjversion</label>
                                <div class="col-sm-8">
                                    <input id="courier_config_iossjversion" name="courier_config_iossjversion" placeholder="苹果的升级版本号" type="text" class="form-control" value="{{ courier_config_iossjversion }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_config_iosUpdateRemark" class="col-sm-2 control-label">iosUpdateRemark</label>
                                <div class="col-sm-8">
                                    <textarea id="courier_config_iosUpdateRemark" name="courier_config_iosUpdateRemark" class="form-control" rows="5" placeholder="ios版更新说明">{{ courier_config_iosUpdateRemark }}</textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="courier_config_iosverremark" class="col-sm-2 control-label">iosverremark</label>
                                <div class="col-sm-8">
                                    <textarea id="courier_config_iosverremark" name="courier_config_iosverremark" class="form-control" rows="5" placeholder="ios版本升级内容">{{ courier_config_iosverremark }}</textarea>
                                </div>
                            </div>
                        </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">创建</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block self_footer_js %}
<script>

//根据不同平台选择不同填写内容
function change_div(){
    var style = $('#style').val();
    var platform = $('#platform').val();
    if(style == 1 && platform == 1){
        $('#id_client_android').show();
        $('#id_client_ios').hide();
        $('#id_courier_android').hide();
        $('#id_courier_ios').hide();
    }
    else if(style == 1 && platform == 2){
        $('#id_client_android').hide();
        $('#id_client_ios').show();
        $('#id_courier_android').hide();
        $('#id_courier_ios').hide();
    }
    else if(style == 2 && platform == 1){
        $('#id_client_android').hide();
        $('#id_client_ios').hide();
        $('#id_courier_android').show();
        $('#id_courier_ios').hide();
    }
    else if(style == 2 && platform == 2){
        $('#id_client_android').hide();
        $('#id_client_ios').hide();
        $('#id_courier_android').hide();
        $('#id_courier_ios').show();
    }
}


$(document).ready(function(){
    $("#submit_button").click(function(){
        $('#permissions_selected option').each(function(){
            $(this).prop('selected', true)
        })
    });
    $('#id_client_android').show();
    $('#id_client_ios').hide();
    $('#id_courier_android').hide();
    $('#id_courier_ios').hide();

})


</script>
{% endblock %}